.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  background: rgb(54, 54, 54);
  padding: 1.25rem;
  border-radius: 0.75rem;
  width: 50rem;
  height: 30rem;
  max-width: 90%;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.3);
}
.popup-box h2{
  background: none;
}
.solution-text{
  height: 20rem;
  margin: 0px;
  background-color: black;
}

.popup-buttons {
  margin-top: 0.9375rem;
  display: flex;
  justify-self: center;
  /* border-radius: 7rem !important; */
  background-color: blueviolet;
  /* margin: 0px; */
  background-color: grey;
}
#btn1{
  border-radius: 3rem;
  /* background: none; */

}



.popup-box form {
  /* background-color: transparent; Remove the black */
  background: none;
  margin-top: 1.5rem;
}

.popup-buttons {
  background-color: transparent; /* Remove black bar under buttons */
}

#btn1,
.popup-buttons button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2rem;
}

#btn1:hover,
.popup-buttons button:hover {
  background-color: darkred;
}
